body{

	font-family: Liberation Serif;
	font-size: 12;
}
h1{
	text-align: center;
	padding-top: 21px;
	margin-top: -5px;
}
#wrapper{
  position: relative;
  padding-top:1px;
  padding-bottom:1px;
  background-color: #F6F8F0;
  width: 80%;
  margin: 0 auto;

}
#reponses{
	width: 80%;
}
#header{
	background-color: #CCC;
	height: 90px;
}
#nav{
	padding-top: 0px;
	background-color: #999999;
	height: 40px;
}
#list>li{
	display: inline;
}
#list>li>a{
	
	text-decoration: none;
	font-style: italic;
    font-size: large;
}
p{
	font-style: italic;
    font-size: large;
    text-align: center;
}
#list{
	margin-top: 0px;
	text-align: center;
    padding-top: 9px;
}
#contenu{
	background-color: #999999;
	opacity: .7;
}
#footer{
	background-color: #999999;
	height: 30px;
	margin-top: 0;
	text-align: center;
}
h3{
	margin-top: 0;
	
	padding-top: 2px;
}
#resultant{
	height: 420px;
}
